# String

!['Common dictionary literals and operations'](img/s1.png)

!['Common dictionary literals and operations'](img/s2.png)

# List
* Ordered collections of arbitrary objects
* Accessed by offset
* Variable-length, heterogeneous, and arbitrarily nestable
* Of the category “mutable sequence”

##  Creating List

!['Common dictionary literals and operations'](img/l1.png)

!['Common dictionary literals and operations'](img/l2.png)

### Indexing

In [18]:
l = ['I','am','here','at','NEU']
l[0]             # 'I'
l[-1]            # 'NEU'
print('1.')
print(l[1:3])
print('2.')
print(l[-3:-1])

1.
['am', 'here']
2.
['here', 'at']

### Mutable Lists

In [19]:
L = ['spam', 'Spam', 'SPAM!']
L[1] = 'eggs'
print('1.')
print(L)
L = [1, 2, 3]
L[1:2]= [4,5]            # [1, 4, 5, 3]       - Replacement/insertion
L[1:1]= [6,7]            # [1, 6, 7, 4, 5, 3] - Insertion (replace nothing)
L[1:2] = []              # [1, 7, 4, 5, 3]    - Deletion (insert nothing)
del L[0]
del L[1:]

1.
['spam', 'eggs', 'SPAM!']

### Sorting List

In [21]:
L = ['abc', 'ABD', 'aBe']
L.sort()
print('1.')
print(L)
L = ['abc', 'ABD', 'aBe']
L.sort(key=str.lower)
print('2.')
print(L)
L = ['abc', 'ABD', 'aBe']
L.sort(key=str.lower, reverse=True)
print('3.')
print(L)

1.
['ABD', 'aBe', 'abc']
2.
['abc', 'ABD', 'aBe']
3.
['aBe', 'ABD', 'abc']

### Other List operations 
* list.(CMD/Ctrl + space)

# Dictionaries
* Accessed by key, not offset position
* Unordered collections of arbitrary objects
* Variable-length, heterogeneous, and arbitrarily nestable
* Of the category “mutable mapping”

!['Common dictionary literals and operations'](img/dic.png)

### Indexing

In [ ]:
D = {'spam': 2, 'ham': 1, 'eggs': 3}
D['spam']                      # 2
D.get('spam')                  # 2
# D.get('toast')               # Error
D.get('toast', 88)

### Mutable Dictionaries

In [26]:
D = {'spam': 2, 'ham': 1, 'eggs': 3}
D['ham'] = ['grill', 'bake', 'fry']        # Change entry
print('1.')
print(D)
D['brunch'] = 'Bacon'                      # Add new entry
print('2.')
print(D)
del D['eggs']
print('3.')
print(D)
print('4.')
print('spam' in D)

1.
{'spam': 2, 'ham': ['grill', 'bake', 'fry'], 'eggs': 3}
2.
{'spam': 2, 'brunch': 'Bacon', 'ham': ['grill', 'bake', 'fry'], 'eggs': 3}
3.
{'spam': 2, 'brunch': 'Bacon', 'ham': ['grill', 'bake', 'fry']}
4.
True

# Tuples

* Ordered collections of arbitrary objects
* Accessed by offset
* Of the category “immutable sequence”
* Fixed-length, heterogeneous, and arbitrarily nestable

!['Tuples operations'](img/t1.png)

!['Tuples operations-2'](img/t2.png)

In [14]:
# Basic Operations
(1, 2) + (3, 4)               # (1, 2, 3, 4)
(1, 2) * 4                    # (1, 2, 1, 2, 1, 2, 1, 2)
T = (1, 2, 3, 4)
T[0], T[1:3]

(1, (2, 3))

In [15]:
# Int vs Tuple
x = (40)
print(x)
y = (40,)
print(y)

40
(40,)

### Why List and Tuples ?

# Files

![Files](img/f1.png)

### Using Files
* File iterators are best for reading lines
* Content is strings, not objects
* Files are buffered and seekable
* close is often optional

In [1]:
# Files in Action
myfile = open('myfile.txt', 'w')
myfile.write('hello text file\n')
              # 'hello text file\n'

16

In [2]:
myfile.write('hello text file\n')
myfile.write('hello text file\n')
myfile.write('goodbye text file\n')
myfile.close()
# ----- #
myfile = open('myfile.txt')
myfile.readline()

'hello text file\n'

In [86]:
myfile.close()

In [80]:
myfile.write('hello text file\n')
myfile.write('goodbye text file\n')
myfile.close()
# ----- #
myfile = open('myfile.txt')
myfile.readline()

### Using Pickle

In [5]:
D = {'a': 1, 'b': 2}
import pickle
with open('myPickle.pkl','w')as f:
    pickle.dump(D, f)
with open('myPickle.pkl')as f:
    E = pickle.load(f)

TypeError: write() argument must be str, not bytes

### Using JSON

In [5]:
import json
name = dict(first='Bob', last='Smith')
rec = dict(name=name, job=['dev', 'mgr'], age=40.5)
u=json.dumps(rec)             # {"job": ["dev", "mgr"], "name": {"last": "Smith", "first": "Bob"}, "age": 40.5}
u

'{"name": {"last": "Smith", "first": "Bob"}, "age": 40.5, "job": ["dev", "mgr"]}'

### References Versus Copies

In [ ]:
L = [1,2,3]
D = {'a':1, 'b':2}
A = L         # Reference
B = D         
X = L[:]
Y = D.copy()

### Comparisons and Equality

In [27]:
L1 = [1, ('a', 3)]
L2 = [1, ('a', 3)]
L1 == L2, L1 is L2

(True, False)

In [28]:
S1 = 'spam'
S2 = 'spam'
print('1.')
print(S1 == S2, S1 is S2)
S1 = 'a longer string'
S2 = 'a longer string'
print('2.')
print(S1 == S2, S1 is S2)

1.
True True
2.
True False

In [ ]:
!['Common dictionary literals and operations'](img/l1.png)

# Exercise

## Strings
* Check if the stirng ends with .py
* Given string s1 and s2. Check if s2 startsWith s1.
* Make '   Hello ' as 'hello'
## List
* Create a list L1 containing odd numbers from 1 to 50.
* Create a list L2 containing all the multiple of 5 and which are between 1 to 100.
* Select last 3 elements from each list and create a new list combining both.
* Select last 5 elements but skipping each following element.
* Given a variable n, create a list L3, using L2 which contains n elements and they are multiple of 10. (use drop function)
* Reverse L3.
* Get 3 highest element from L1.
## Dictionary
* Create a dict D1 which can store the Name,age and Gender of 3 students.
* Add assignment scores to student1 from D1. Assignments can be multiple.
* Check for student2 if gender is Male.
* Print all the details for student1
## Files
* Save the dict as a json file and read it again in D2.
* Check if both are same.
* Read the example json file and display the username and email id.

* Create a dict of length 10 containing odd numbers as keys and n*7 as value.

In [3]:
S="Harikrishna"
G="Haripy"

In [4]:
if(S.endswith("py")):
   print ("String S ends with py")
    
elif(G.endswith("py")):
   print ("String G ends with py")
else:
    print("None of the strings ends with py")

String G ends with py

In [5]:
S1="lifetime"
S2="lifetimeachievement"

In [6]:
if(S2.startswith(S1)):
   print ("String S2 starts with string S1")
else:
    print("StringS2 does not start with S1")

String S2 starts with string S1

In [7]:
R="Hello"

In [8]:
D=R.lower()
print (D)

hello

In [9]:
L1=list(range(1,50,2))
print(L1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [10]:
type(L1)

list

In [11]:
L2=list(range(0,100,5))
print(L2)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [12]:
L3=L1[-3:]+L2[-3:]
print(L3)

[45, 47, 49, 85, 90, 95]

[45, 47, 49, 85, 90, 95]

In [53]:
L4=L3[-5::2]
print(L4)

[47, 85, 95]

In [64]:
D1={"student1":{"Name":"Hari","Age":24,"Gender":"Male"},"student2":{"Name":"Kishore","Age":24,"Gender":"Male"},"student3":{"Name":"Hello","Age":20,"Gender":"Female"}}

In [93]:
D1['student1'].append("helllo")

AttributeError: 'dict' object has no attribute 'append'

In [94]:
rec = {'name': {'first': 'Bob', 'last': 'Smith'},
'jobs': ['dev', 'mgr'],
'age': 40.5}

In [100]:
rec['age'].append("hh")

AttributeError: 'float' object has no attribute 'append'

In [98]:
rec

{'age': 40.5,
 'jobs': ['dev', 'mgr', 'janitor', 'janitor', 'janitor'],
 'name': {'first': 'Bob', 'last': 'Smith'}}

In [75]:
if (D1["student1"]["Gender"]=="Male"):
   print("Student is male")
    
else:
    print("Student is not male")

Student is male

In [76]:
print(D1["student1"])

{'Gender': 'Male', 'Age': 24, 'Name': 'Hari'}

In [63]:
D1

{'student1': {'Age': 24,
  'Gender': 'Male',
  'Name': 'Hari',
  'assign': [4, 5, 6]},
 'student2': {'Age': 24, 'Gender': 'Male', 'Name': 'Kishore'},
 'student3': {'Age': 20, 'Gender': 'Female', 'Name': 'Hello'}}

In [70]:
D1.update["student1"]={"hari":1}

TypeError: 'builtin_function_or_method' object does not support item assignment

In [ ]:
L1.

In [57]:
D1

{'student1': {'Age:': 24, 'Gender:': 'Male', 'Name:': 'Hari'},
 'student2': {'Age:': 24, 'Gender:': 'Male', 'Name:': 'Kishore'},
 'student3': {'Age:': 20, 'Gender:': 'Female', 'Name:': 'Hello'}}

In [49]:
D1["student1"]

{'Age:': 24, 'Gender:': 'Male', 'Name:': 'Hari'}

In [55]:
D1["student1"].add(5)

AttributeError: 'dict' object has no attribute 'add'

In [101]:
bob=Worker("hello",4000)

NameError: name 'Worker' is not defined

In [1]:
X=[4,5,6]

In [2]:
Y=[5,X,8]

In [3]:
print(Y
     )

[5, [4, 5, 6], 8]

In [1]:
S1="Spam"
S2="Spam"

In [2]:
S1 in S2

True

In [7]:
S1 = 'a longerstring'
S2 = 'a longerstring'
S1 is S2

False

In [13]:
L=['44','62','20',37]

In [14]:
L.sort()

TypeError: unorderable types: int() < str()

In [15]:
o='66'

In [16]:
int(o)

66

In [17]:
type(o)

str

In [18]:
D1 = {'a':1, 'b':2}

In [19]:
D2 = {'a':1, 'b':3}

In [20]:
D1==D1

True

In [21]:
D1==D2

False

In [24]:
t1=list(D1.items())

In [27]:
t1

[('a', 1), ('b', 2)]

In [30]:
t2

[('a', 1), ('b', 3)]

In [25]:
t2=list(D2.items())

In [26]:
type(t1)

list

In [28]:
t1<t2

True

In [29]:
t1>t2

False

In [12]:
L

['20', '37', '44', '62']

In [7]:
L2=[5,8,5,6]

In [8]:
L2[:0]=[5,9]

In [9]:
L2

[5, 9, 5, 8, 5, 6]

In [1]:
D={"name":"Hari","age":55,"gender":"male"}

In [2]:
D

{'age': 55, 'gender': 'male', 'name': 'Hari'}

In [12]:
D.fromkeys(["age"])

{'age': None}

In [13]:
F=D.copy()

In [14]:
F

{'age': 55, 'gender': 'male', 'name': 'Hari'}

In [3]:
D.keys()

dict_keys(['age', 'gender', 'name'])

In [ ]:
print (H)

In [ ]:
list(H)

In [ ]:
d3={"hari":[]}

In [44]:
D1["student1"].append([85,90,86])

AttributeError: 'set' object has no attribute 'append'

In [41]:
D1

{'student1': {24, 'Hari', 'Male', (85, 90, 87)},
 'student2': {24, 'Male', 'Kishore'},
 'student3': {'Hello', 20, 'Female'}}

In [35]:
D1

{'student1': {24, 'Hari', 'Male', 'yy'},
 'student2': {24, 'Male', 'Kishore'},
 'student3': {'Hello', 20, 'Female'}}

In [32]:
D1

{'student1': {24, 'Hari', 'Male'},
 'student2': {24, 'Male', 'Kishore'},
 'student3': {'Hello', 20, 'Female'}}

In [29]:
D1["student1"].update([88,90,85])

In [30]:
D1

{'student1': {'Hari', 85, 24, 90, 88, 'Male'},
 'student2': {24, 'Male', 'Kishore'},
 'student3': {'Hello', 20, 'Female'}}

In [ ]:
if ["student2"]

In [ ]:
D

In [21]:
type(D1)

dict

In [26]:
print(list(range(0,100,5)))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]